.messages {
  flex-grow: 1;
  overflow-y: auto;

  &__message:nth-last-child(2) {
    animation: appearFromBottom 0.3s;
  }

  &__message:nth-last-child(2) &__message__content {
    animation: rotateFromLeft 0.7s;
  }

  &__message--right:nth-last-child(2) &__message__content {
    animation: rotateFromRight 0.7s;
  }

  &__message {
    margin: 1rem 3rem 1rem 1.5rem;
    opacity: 1;

    &--right {
      margin: 1rem 1.5rem 1rem 3rem;
      text-align: right;
    }
  }

  &__message__author {
    color: #111;
    font-weight: bold;
    padding: 0.5rem 0;
  }

  &__message__content {
    position: relative;
    color: var(--message-text-color);
    text-align: left;
    word-wrap: break-word;
    margin-top: 0.8rem;
    padding: 0.8rem 1.4rem;
    border-radius: 2em;
    background-color: var(--message-bg-color);
    background: var(--message-bg-gradient);
    box-shadow: 0 1px 1px dimgray;

    &::before {
      content: " ";
      position: absolute;
      display: block;
      top: -1em;
      left: 1.5em;
      width: 0;
      height: 0;
      border-top-color: var(--alt-color);
      border-left-color: var(--message-bg-color);
      border-style: solid;
      border-width: 1rem 0 0 1rem;
      background-color: var(--message-bg-color);
    }
  }

  &__message--right &__message__content::before {
    left: initial;
    right: 1.5em;
    border-left-color: transparent;
    border-right-color: var(--message-bg-color);
    border-width: 1rem 1rem 0 0;
  }
}

@keyframes appearFromBottom {
  0% {
    margin-top: 0;
    opacity: 0;
  }
  50% {
    margin-top: 0;
  }
  50% {
    margin-top: 100vh;
    opacity: 0;
  }
  100% {
    margin-top: 0;
    opacity: 1;
  }
}

@keyframes rotateFromLeft {
  0% {
    transform: rotate(4deg);
    transform-origin: top left;
  }
  100% {
    transform: rotate(0deg);
    transform-origin: top left;
  }
}

@keyframes rotateFromRight {
  0% {
    transform: rotate(-4deg);
    transform-origin: top right;
  }
  100% {
    transform: rotate(0deg);
    transform-origin: top right;
  }
}
