.messages {
  flex-grow: 1;
  overflow-y: auto;

  &__message {
    transition: all .5s;
    margin: 1rem 1.5rem;
    opacity: 1;

    &__author {
      color: #111;
      font-weight: bold;
      padding: 0.5rem 0;
    }

    &__content {
      position: relative;
      color: var(--message-text-color);
      margin-top: 0.8rem;
      padding: .8rem 1.4rem;
      border-radius: 2em;
      background-color: var(--message-bg-color);
      background: var(--message-bg-gradient);
      box-shadow: 0 1px 1px dimgray;
    }

    &__content::before {
      content: " ";
      position: absolute;
      display: block;
      top: -1em;
      left: 1.5em;
      width: 0;
      height: 0;
      border-top-color: var(--alt-color);
      border-left-color: var(--message-bg-color);
      border-style: solid;
      border-width: 1rem 0 0 1rem;
      background-color: var(--message-bg-color);
    }
  }

  &__message:first-child {
    animation-name: fadeIn;
    animation-duration: 0.5s;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    max-height: 0;
  }
  100% {
    opacity: 1;
    max-height: 100%;
  }
}

