.chat-form {
  display: flex;
  
  &__input,
  &__button {
    border: 0;
    font-size: 1.1em;
    //background-color: var(--input-bg-color);
  }

  &__input {
    padding: 1rem;
    padding-left: 1.3rem;
    flex-grow: 1;
  }

  &__button {
    width: 3.5rem;
  }
}
