@use "reset";
@use "vars";

@font-face {
  font-family: "Roboto";
  src: url("src/assets/fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: 'icomoon';
  src:  url("src/assets/fonts/icomoon.ttf");
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--primary-color);
}
