.chat-form {
  display: flex;

  &__input,
  &__button {
    border: 0;
    margin: 0;
    font-size: 1.1em;
  }

  &__input {
    padding: 1rem 0.6rem 1rem 1.3rem;
    flex-grow: 1;
  }

  &__button {
    font-family: "icomoon";
    color: var(--primary-color);
    font-size: 3rem;
    min-width: 3.5rem;
    font-weight: normal;
    background-color: white;
  }
}
