.settings {
  position: fixed;
  top: 1rem;
  right: 3rem;
  display: flex;
  gap: 1.5rem;
  transform: translateX(100%);
  transition: 0.3s ease-in-out;

  &--open {
    right: 1rem;
    transform: translateX(0%);

    .settings__toggler {
      transform: rotate(-45deg);
    }
  }

  &__toggler {
    color: var(--primary-color);
    border-radius: 50%;
    width: 2rem;
    height: 2rem; 
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
    font-size: 2.2rem;
    border: 0;
    box-shadow: 0 1px 4px black;
    transition: all 0.2s, transform 0.4s;

    &:hover {
      background-color: var(--alt-color);
      box-shadow: 0 1px 8px black;
      filter: brightness(1.2);
    }
  }

  &__form {
    display: none;
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;

    &__email,
    &__password,
    &__button {
      font-size: 0.9rem;
      border: 0;
      border-radius: 5px;
      padding: 0.5rem 0.7rem;
    }

    &__email,
    &__password {
      filter: drop-shadow(0 1px 5px black);

      &:focus {
        box-shadow: inset 0 1px 2px black;
      }
    }

    &__button {
      color: white;
      font-size: 1rem;
      text-shadow: 0 -1px 0 black;
      background: linear-gradient(
        180deg,
        var(--alt-color) 0%,
        var(--primary-color) 100%
      );
      filter: brightness(1.1);
      box-shadow: 0 1px 5px black;

      &:active {
        filter: brightness(1.2);
        box-shadow: 0 1px 1px black;
      }
    }
  }
}
